{% extends 'base.html.twig' %}

{% block title %}Citations sauvegardées{% endblock %}

{% block body %}

    {% for citation in citations %}
        {{ citation.content }} <br>
        {{ citation.character }} <br>
        <a href="{{ path('app_citation_removefavorite',{id:citation.id}) }}" class="btn btn-danger mt-3 mb-3">Supprimer cette citation?</a>
        <hr>
        <br>
    {% endfor %}

{% endblock %}
