{% extends 'base.html.twig' %}

{% block title %}Hello CitationController!{% endblock %}

{% block body %}

    {{ citation.citation.citation }} <br>
    <a href="{{ path('app_citation') }}" class="mt-5 btn btn-primary">Charger une citation</a>
    {% if app.user %}
    <a href="{{ path('app_citation_addfavorite',{value:citation.citation.citation,character:citation.citation.infos.personnage}) }}" class="btn btn-secondary">Sauvegarder une citation</a>
    {% endif %}


{% endblock %}
